@font-face {
    font-family: play;
    src: url(fonts/play.otf);
}

@font-face {
    font-family: chiffre;
    src: url(fonts/newyorkescape.ttf);
}

@font-face {
    font-family: timer;
    src: url(fonts/Pixel-lcd-machine.ttf);
}

@font-face {
    font-family: title;
    src: url(fonts/redundead.ttf);
}

html { /* Effect scrolling */
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body,html, header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-color: #0e0e0e;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)),url("images/accueil.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 2%;
}

.nav {
  font-size: 15px;
  background-color: #2C3E50;
  width: 100%;

}

.nav li:hover{
  background-color: #eb3b5a;
  color: white;
}

.nav li:nth-child(1){
  font-size: 23px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.title {
  color: white;
}

.description_egc {
  color: white;
  width: 50%;
  margin-top: 1%;
  font-weight: 600;
  color: rgb(175, 0, 0);
  font-family: title;
}

.content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.content_accueil {
  margin-top: 7%;
  margin-bottom: 8%;
}

.img_news {
  float: left;
}

.txt {
  float: left;
  width: 50%;
  height: 100%;
  margin-left: 2%;
}

.desc_news {
  display: block;
  width: 100%;
  height: 100%;
}

.slick-dots li button:before /* le style des points (Slider) */
{
  font-size: 20px;
  line-height: 20px;
  color: red;
}

.slick-dots li.slick-active button:before { /* Quand le point est actif (Slider) */
  color: white;
}

.underline {
  padding-bottom: 10px;
  border-bottom: 5px solid #da1a35;
  text-align: center;
  margin: 0 0 35px;
  letter-spacing: 1px;
  font-family: title;
  font-size: 45px;
}

.titre_actu {
  font-family: title;
  font-size: 3.5vw;
  letter-spacing: 1px;
}

.date_actu {
  font-size: 18px;
}

.text_actu {
  font-size: 18px;
}

/* Le jeu */

.le_jeu {
  margin-top: 2%;
}

.description {
  font-size: 18px;
}

.contexte {
  margin-top: 5%;
  margin-bottom: 3%;
}

#color_accueil {
  color: rgb(175, 0, 0);
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  font-family: play;
}

#color_lejeu {
  color: rgb(175, 0, 0);
  font-style: italic;
  font-size: 1.7em;
  font-weight: normal;
}

.compte_a_rebours {
  font-family: timer;
  color: #da1a35;
  font-size: 30px;
}

/* OBSTACLES */

.obstacles {
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.cardobstacles {
  background: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.50));
}

.yy {
  background: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.50));
}

.titre_obstacles {
  font-family: title;
}

.chiffre_obstacles {
  font-family: chiffre;
}

/* SALLES */

.salles {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

.cardsalle {
  background-color: black;
  border: 1px solid #da1a35;
}

.slide_salles {
  width: 100%;
  height: 100%;
}

#salle_presentation {
  font-family: title;
  font-weight: 900;
  font-size: 23px;
  color: white;
  letter-spacing: 1px;
}

/* LOGIN */

.login {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  background: linear-gradient(rgba(0, 0, 0, 0.30),rgba(0, 0, 0, 0.30)), url("images/login.png") no-repeat center center;
  background-size: cover;
}

form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.55);
  border-radius: 4px;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

#valide {
  color: #fff;
  font-size: 20px;
  padding: 20px;
}

.txtlogin {
  border: 3px solid #D71A35;
  box-sizing: border-box;
  border-radius: 4px;
}

.lbllogin {
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  line-height: 42px;
  color: #FFFFFF;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}

/* STAT */

.stat {
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.stat_salle {
  font-family: title;
  font-size: 25px;
}

.cardstat {
  margin-top: 1%;
  background: rgb(0,0,0);
  border-left: none;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(50,9,9,1) 53%, rgba(218,26,53,1) 100%);
}

.taux {
  font-family: chiffre;
  font-size: 25px;
}

/* COMMENTAIRES ET AVIS */

.cardavis {
  background-color: black;
  border: 1px solid #da1a35;
}

.avis_theme {
  font-family: title;
  letter-spacing: 1px;
}

.comm_avis {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.gallery_comm {
  margin-bottom: 5%;
}

.pseudo_avis {
  font-weight: 650;
}

#lesAvis {
  width: 18rem;
  margin-bottom:1.5rem;
}

#border_salle .card {
  border: none;
  margin-bottom: 7%;
}

.affiche_photos {
  height: 300px;
}

.photos {
  cursor: zoom-in;
}

/* FOOTER */

footer {
  border-top: 5px solid #da1a35;
}

.sociaux {
  display: block;
}

/* RESPONSIVE */

@media screen and (max-width: 1000px) {
  .content_avis {
    width: 100%;
    max-width: 1200px;
  }

}
