@font-face {
    font-family: play;
    src: url(fonts/play.otf);
}

html { /* Effect scrolling */
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body,html, header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-color: #0e0e0e;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)),url("images/accueil.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 2%;
}

.nav {
  font-size: 15px;
  background-color: #2C3E50;
  width: 100%;

}

.nav li:hover{
  background-color: #eb3b5a;
  color: white;
}

.nav li:nth-child(1){
  font-size: 23px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.title {
  color: white;
}

.description_egc {
  color: white;
  width: 50%;
  font-weight: 600;
}
#color_accueil {
  color: #FF0000;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: play;
}

.content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.content_accueil {
  margin-top: 4%;
}

.content_news {
  margin-top: 5%;
  color: white;
  text-align: center;
  height: auto;
}

.slide_news {
  width: 100%;
  height: 200px;
  word-wrap: break-word;
}

.img_news {
  float: left;
}

.txt {
  float: left;
  width: 50%;
  height: 100%;
  margin-left: 2%;
}

.desc_news {
  display: block;
  width: 100%;
  height: 100%;
}

.slick-dots li button:before /* le style des points */
{
  font-size: 20px;
  line-height: 20px;
  color: red;
}

.slick-dots li.slick-active button:before { /* Quand le point est actif */
  color: white;
}

.underline {
  padding-bottom: 10px;
  border-bottom: 5px solid #da1a35;
  text-align: center;
  margin: 0 0 35px;
  letter-spacing: 1px;
}

/* OBSTACLES */

.obstacles {
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

/* SALLES */

.salles {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

.slide_salles {
  width: 100%;
  height: 100%;
}

/* LOGIN */

.login {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  background: linear-gradient(rgba(0, 0, 0, 0.30),rgba(0, 0, 0, 0.30)), url("images/login.png") no-repeat center center;
  background-size: cover;
}

form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.55);
  border-radius: 4px;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

#valide {
  color: #fff;
  font-size: 20px;
  padding: 20px;
}

.txtlogin {
  border: 3px solid #D71A35;
  box-sizing: border-box;
  border-radius: 4px;
}

.lbllogin {
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  line-height: 42px;
  color: #FFFFFF;
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}

/* STAT */

.stat {
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.cardstat {
  margin-top: 1%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(50,9,9,1) 53%, rgba(218,26,53,1) 100%);
}

/* COMMENTAIRES ET AVIS */

.comm_avis {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.gallery_comm {
  margin-bottom: 5%;
}

.pseudo_avis {
  font-weight: 650;
}

/* FOOTER */

footer {
  border-top: 5px solid #da1a35;
}

/* RESPONSIVE */

/*@media screen and (max-width: 780px) {
  .txt {
    float: right;
  }
}*/
